@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* font-family: 'Prata', serif; */

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.backimg {
  position: absolute;
}

body {
  background-color: #E5EBED;
}

.menubar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thisism {
  font-family: 'Prata', serif;
  text-align: center;
  font-size: 3.4722vw;
  color: #333333;
}

.line1 {
  position: absolute;
  width: 23.5278vw;
  top: 8vw;
}

.menu {
  display: block;
  text-align: center;
  position: relative;
  top: -2.0833vw;
}

.menuT {
  font-family: 'GmarketSansLight';
  font-size: 5.5556vw;
  line-height: 3.4722vw;
  letter-spacing: 0.2778vw;
  color: #333333;
}

.menuT:hover {
  font-family: 'Prata', serif;
}